html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block title
            link(href="../main.css" rel="stylesheet")
            title= htmlWebpackPlugin.options.title
    body       
        div(class="container" id="container")
            div(class="view-container")
                div(class="view")
                    div(class="image")
            div(class="form-container sign-in-container")
                form(name="loginForm")
                    h1 Log in
                    a(a href="http://localhost:3000/pages/register.html") Not a member?
                    input(type="email" name="userEmail" placeholder="Email...")
                    input(type="password" name="userPassword" placeholder="Password...")
                    a(href="http://localhost:3000/pages/reset.html") Forgot password?
                    input(type="submit" class="btn" name="login" value="Log in")

            
            