doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block title
            link(href="../main.css" rel="stylesheet")
            title= htmlWebpackPlugin.options.title
    body        
        div(class="container" id="container")
            div(class="view-container")
                div(class="view")
                    div(class="image")
            div(class="form-container sign-up-container")
                form(name="registerForm")
                    h1 Sign up
                    a(href="http://localhost:3000/pages/login.html") Existing member?
                    input(type="email" name="userEmail" placeholder="Email...")
                    input(type="password" name="userPassword" placeholder="Password...")
                    input(input type="password" name="userConfirmPassword" placeholder="Confirm password...")
                    input(type="submit" class="btn" name="register" value="Sign up")        