doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block title
            link(href="../main.css" rel="stylesheet")
            title= htmlWebpackPlugin.options.title
    body        
        div(class="container" id="container")
            div(class="view-container")
                div(class="view")
                    div(class="image")
            div(class="form-container sign-up-container")
                form(name="resetForm")
                    h1 Reset password
                    span Please enter your new password                            
                    input(type="password" name="userPassword" placeholder="Password..." required)
                    input(input type="password" name="userConfirmPassword" placeholder="Confirm password..." required)
                    input(type="submit" class="btn" name="reset" value="Sign up")
        script.
            let apiBase = 'https://geekhub-frontend-js-9.herokuapp.com/api'
            const btnResetPassword = document.querySelector('input[name="reset"]')
            let errDiv = document.createElement('div')
            errDiv.style.cssText = 'color: red;'
            btnResetPassword.insertAdjacentElement('beforebegin', errDiv)
            document.querySelectorAll('input').forEach(input => {
                input.onblur = () => {
                    errDiv.innerHTML = ''
                }
            })
            btnResetPassword.addEventListener('click', (event) => {
                event.preventDefault()
                let resetForm = document.forms['resetForm']
                let userPassword = resetForm.elements['userPassword'].value
                let userConfirmPassword = resetForm.elements['userConfirmPassword'].value
                console.log(typeof localStorage.getItem('email'))
                resetPassword(userPassword, userConfirmPassword, localStorage.getItem('email'))
                    .then(response => {
                        if (response.status === 400) {
                            errDiv.innerHTML = 'Your password does not match'
                            console.log(response.status, response)
                            
                        } else if (response.status === 404) {
                            errDiv.innerHTML = 'Your password does not match'
                            console.log(response.status, response)
                        } else if (response.status === 200) {							
                            errDiv.innerHTML = ''
                            console.log(response.status, response)
                            window.location = "http://localhost:3000/pages/afterreset.html"
                            }						
                    })
                    .catch(error => {
                        errDiv.innerHTML = error
                    })
                resetForm.elements['userPassword'].value = ''
                resetForm.elements['userConfirmPassword'].value = ''
            })
            async function resetPassword(userPassword, userConfirmPassword, userEmail) {                
                const resetPassword = await fetch(`${apiBase}/users/reset_password`, {
                    method: 'POST',
                    body: JSON.stringify({
                        password: userPassword,
                        confirmationPassword: userConfirmPassword,
                        email: userEmail
                    }),
                    headers: {                        
                        'Content-Type': 'application/json',
                        'x-access-token': localStorage.getItem('token')
                    }
                })
                return resetPassword
            }