doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block title
            link(href="../main.css" rel="stylesheet")
            title= htmlWebpackPlugin.options.title
    body        
        div(class="container" id="container")
            div(class="view-container")
                div(class="view")
                    div(class="image")
            div(class="form-container sign-up-container")
                form(name="sendEmailForm")
                    h1 Reset password
                    a(a href="http://localhost:3000/pages/register.html") Not a member?
                    input(type="email" name="userEmail" placeholder="Email..." required)
                    p You'll receive email with a link to reset password. Link is valid for 30 min only
                    input(type="submit" class="btn" name="sendemail" value="reset")
        script.
            let apiBase = 'https://geekhub-frontend-js-9.herokuapp.com/api'
            const btnSendEmail = document.querySelector('input[name="sendemail"]')
            let errDiv = document.createElement('div')
            errDiv.style.cssText = 'color: red;'
            btnSendEmail.insertAdjacentElement('beforebegin', errDiv)
            document.querySelectorAll('input').forEach(input => {
                input.onblur = () => {
                    errDiv.innerHTML = ''
                }
            })
            btnSendEmail.addEventListener('click', (event) => {
                event.preventDefault()
                let sendEmailForm = document.forms['sendEmailForm']
                let userEmail = sendEmailForm.elements['userEmail'].value
                localStorage.setItem('email', JSON.stringify(userEmail))
                window.location = "http://localhost:3000/pages/reset.html"	
                sendEmailForm.elements['userEmail'].value = ''
            })
            